In [2]:
import pandas as pd

In [19]:
def network_file_to_df(path:str, col_left:str ,col_right:str, sep=':' ):
    data = []

    with open(path, 'r', encoding="utf8") as file:
        for line in file:
            try:
                index, item = line.strip().split(sep, maxsplit=1)
                data.append(
                    {col_left:index, col_right:item.strip()}
                    )  
            except:
                print('Error:',line)
    
    return pd.DataFrame(data)

In [40]:
vertex_df = network_file_to_df('data/vertex.txt','vertex','character')
vertex_df['index'] = vertex_df.vertex.str.extract('(\d+)').astype(int)
vertex_df.head()

     vertex                                   character  index
0  Vertex 1                        24-HOUR MAN/EMMANUEL      1
1  Vertex 2  3-D MAN/CHARLES CHANDLER & HAROLD CHANDLER      2
2  Vertex 3                            4-D MAN/MERCURIO      3
3  Vertex 4                                     8-BALL/      4
4  Vertex 5                                           A      5

In [42]:
book_df = network_file_to_df('data/books.txt','vertex','book')
book_df['index'] = book_df.vertex.str.extract('(\d+)').astype(int)
book_df.head()

        vertex      book  index
0  Vertex 6487    AA2 35   6487
1  Vertex 6488  M/PRM 35   6488
2  Vertex 6489  M/PRM 36   6489
3  Vertex 6490  M/PRM 37   6490
4  Vertex 6491     WI? 9   6491

In [45]:
edges_raw_df = network_file_to_df('data/edges.txt','character','book', sep=" ")
edges_raw_df.head()

  character                                          book
0         1                                          6487
1         2  6488 6489 6490 6491 6492 6493 6494 6495 6496
2         3  6497 6498 6499 6500 6501 6502 6503 6504 6505
3         4                                6506 6507 6508
4         5                                6509 6510 6511

In [46]:
edges_raw_df['book'] = edges_raw_df['book'].apply(lambda x: x.split())
edges_df = edges_raw_df.explode('book')
edges_df.reset_index(drop=True, inplace=True)

In [47]:
edges_df.head()

  character  book
0         1  6487
1         2  6488
2         2  6489
3         2  6490
4         2  6491

In [51]:
merged_df = pd.merge(edges_df, edges_df, on='book')

In [62]:
'-'.join(map(lambda c:str(c),sorted([1987,1])))

'1-1987'

In [63]:
str([123,456])

'[123, 456]'

In [65]:
merged_df['relation_key'] = merged_df.apply(lambda row: str(sorted((row['character_x'], row['character_y']))), axis=1)

In [66]:
merged_df

        character_x   book character_y      relation_key
0                 1   6487           1        ['1', '1']
1                 1   6487        1999     ['1', '1999']
2                 1   6487        6459     ['1', '6459']
3                 1   6487        6463     ['1', '6463']
4                 1   6487        6464     ['1', '6464']
...             ...    ...         ...               ...
1236197        6485  15336        6486  ['6485', '6486']
1236198        6486  15336        1582  ['1582', '6486']
1236199        6486  15336        6482  ['6482', '6486']
1236200        6486  15336        6485  ['6485', '6486']
1236201        6486  15336        6486  ['6486', '6486']

[1236202 rows x 4 columns]

In [67]:
filtered_df = merged_df[merged_df['character_x'] != merged_df['character_y']]
filtered_df

        character_x   book character_y      relation_key
1                 1   6487        1999     ['1', '1999']
2                 1   6487        6459     ['1', '6459']
3                 1   6487        6463     ['1', '6463']
4                 1   6487        6464     ['1', '6464']
5                 1   6487        6471     ['1', '6471']
...             ...    ...         ...               ...
1236195        6485  15336        6482  ['6482', '6485']
1236197        6485  15336        6486  ['6485', '6486']
1236198        6486  15336        1582  ['1582', '6486']
1236199        6486  15336        6482  ['6482', '6486']
1236200        6486  15336        6485  ['6485', '6486']

[1139540 rows x 4 columns]

In [68]:
unique_df = filtered_df.drop_duplicates(subset=['relation_key', 'book'])
unique_df

        character_x   book character_y      relation_key
1                 1   6487        1999     ['1', '1999']
2                 1   6487        6459     ['1', '6459']
3                 1   6487        6463     ['1', '6463']
4                 1   6487        6464     ['1', '6464']
5                 1   6487        6471     ['1', '6471']
...             ...    ...         ...               ...
1236181        6481  18709        6484  ['6481', '6484']
1236184        6482  15336        6485  ['6482', '6485']
1236185        6482  15336        6486  ['6482', '6486']
1236189        6483  18709        6484  ['6483', '6484']
1236197        6485  15336        6486  ['6485', '6486']

[569770 rows x 4 columns]

In [69]:
unique_df.query('book == "6521"')

       character_x  book character_y      relation_key
450             10  6521        1535    ['10', '1535']
451             10  6521        1572    ['10', '1572']
452             10  6521        2548    ['10', '2548']
453             10  6521        3198    ['10', '3198']
454             10  6521        4759    ['10', '4759']
274060        1535  6521        1572  ['1535', '1572']
274061        1535  6521        2548  ['1535', '2548']
274062        1535  6521        3198  ['1535', '3198']
274063        1535  6521        4759  ['1535', '4759']
277959        1572  6521        2548  ['1572', '2548']
277960        1572  6521        3198  ['1572', '3198']
277961        1572  6521        4759  ['1572', '4759']
448170        2548  6521        3198  ['2548', '3198']
448171        2548  6521        4759  ['2548', '4759']
588815        3198  6521        4759  ['3198', '4759']

In [ ]:
'data/edges.txt'

In [52]:
data = []

with open('data/vertex.txt', 'r', encoding="utf8") as file:
    for line in file:
        try:
            index, item = line.strip().split(':', maxsplit=1)
            data.append(item.strip())  
        except:
            print('Error:',line)

In [116]:
len(data)

6486

In [59]:
books = []

with open('data/books.txt', 'r', encoding="utf8") as file:
    for line in file:
        try:
            index, book = line.strip().split(':', maxsplit=1)
            books.append(book.strip())  
        except Exception as e:
            print(str(e))
            print('Error:',line)

In [117]:
len(books)

12942

In [99]:
edges = {}
i = 1
with open('data/edges.txt', 'r', encoding="utf8") as file:
    for line in file:
        try:
            if i ==10:
                pass
                #break
            _character, _books = line.strip().split(' ', maxsplit=1)
            _books_arr = _books.split(' ')

            current_books = edges.get(_character, [])
            # Extend the current list of books with the new ones
            current_books.extend(_books_arr)
            # Put the updated list of books back in the dictionary
            edges[_character] = current_books

            i= i+1
        except Exception as e:
            print(str(e))
            print('Error:',line)

In [113]:
len(edges)

6486

In [118]:
acc = []
for e in edges:
    acc.append(len(edges[e]))
    #continue
    #print(e,edges[e][0])

In [121]:
sum(acc)/len(acc)

14.903176071538699

In [122]:
len(spider)

1625

In [108]:
cap =edges['859']
spider =edges['5306']

In [110]:
inter  = set.intersection(set(cap), set(spider))

In [114]:
len(inter)

145

In [111]:
len(inter)/len(spider)

0.08923076923076922

In [112]:
len(inter)/len(cap)

0.10607168983174835

In [ ]:
859

In [107]:
edges['5306']

['14957',
 '17232',
 '19036',
 '18528',
 '18529',
 '18530',
 '18532',
 '18531',
 '17646',
 '17869',
 '18584',
 '18449',
 '16181',
 '14611',
 '19037',
 '16592',
 '16418',
 '12201',
 '9247',
 '18536',
 '19038',
 '18393',
 '18537',
 '12419',
 '18538',
 '18539',
 '9248',
 '18540',
 '12204',
 '9249',
 '10191',
 '13813',
 '17194',
 '17195',
 '17791',
 '19039',
 '15453',
 '8070',
 '17792',
 '15346',
 '9003',
 '17206',
 '8039',
 '14243',
 '9250',
 '9251',
 '17793',
 '16724',
 '17210',
 '8042',
 '15858',
 '14956',
 '9252',
 '7409',
 '12202',
 '10678',
 '9253',
 '9254',
 '9255',
 '9256',
 '9257',
 '15454',
 '12203',
 '9258',
 '9259',
 '9260',
 '9261',
 '17794',
 '17418',
 '16017',
 '17419',
 '17420',
 '8062',
 '13814',
 '13812',
 '11385',
 '7272',
 '12338',
 '16595',
 '7418',
 '17421',
 '15983',
 '16596',
 '7420',
 '8073',
 '16597',
 '16018',
 '17795',
 '17422',
 '7424',
 '8085',
 '10443',
 '15984',
 '17222',
 '14616',
 '12820',
 '17423',
 '7426',
 '10679',
 '16598',
 '10680',
 '10681',
 '14462',
 '10682',
 '17796',
 '15513',
 '7432',
 '7433',
 '10683',
 '10684',
 '10685',
 '10686',
 '10687',
 '10688',
 '18346',
 '18023',
 '10689',
 '12930',
 '14710',
 '14711',
 '17797',
 '17776',
 '16599',
 '12205',
 '17777',
 '8217',
 '17757',
 '10690',
 '10691',
 '7447',
 '10692',
 '10693',
 '10694',
 '10859',
 '10695',
 '14721',
 '7448',
 '15185',
 '17747',
 '10696',
 '12206',
 '10697',
 '10698',
 '10699',
 '7455',
 '17231',
 '15455',
 '12207',
 '15456',
 '15457',
 '12208',
 '17543',
 '17679',
 '17748',
 '17680',
 '16600',
 '14729',
 '16601',
 '16602',
 '17798',
 '17799',
 '16604',
 '16603',
 '12209',
 '8246',
 '7475',
 '17681',
 '17682',
 '16123',
 '17778',
 '8270',
 '17800',
 '13921',
 '13922',
 '13923',
 '14740',
 '14244',
 '14245',
 '12311',
 '17801',
 '13816',
 '15889',
 '12210',
 '16124',
 '16125',
 '10107',
 '11387',
 '18511',
 '16605',
 '11390',
 '15458',
 '15459',
 '15460',
 '8803',
 '17802',
 '18512',
 '17391',
 '18999',
 '12312',
 '10446',
 '7106',
 '17239',
 '12987',
 '12988',
 '14758',
 '19040',
 '17803',
 '16606',
 '16607',
 '16608',
 '17804',
 '15864',
 '7837',
 '19041',
 '17805',
 '9574',
 '9577',
 '16536',
 '16535',
 '16609',
 '11396',
 '11401',
 '13005',
 '7501',
 '8298',
 '17806',
 '17807',
 '18351',
 '18180',
 '16047',
 '18513',
 '15519',
 '16507',
 '16508',
 '15461',
 '12211',
 '15462',
 '15463',
 '17808',
 '16610',
 '17809',
 '18089',
 '12634',
 '11229',
 '13020',
 '10877',
 '16611',
 '18514',
 '17058',
 '16612',
 '16613',
 '18836',
 '12639',
 '12640',
 '14419',
 '11412',
 '13021',
 '17780',
 '17779',
 '10878',
 '15266',
 '16761',
 '8905',
 '11726',
 '17251',
 '17810',
 '10098',
 '10099',
 '15524',
 '17749',
 '15464',
 '15465',
 '17557',
 '11246',
 '15525',
 '17941',
 '17811',
 '17781',
 '16787',
 '15700',
 '7506',
 '17812',
 '17813',
 '12232',
 '16259',
 '8499',
 '17720',
 '13817',
 '17942',
 '17815',
 '18279',
 '16884',
 '17753',
 '16551',
 '19042',
 '16000',
 '17754',
 '16552',
 '17428',
 '18069',
 '11252',
 '14602',
 '14601',
 '17943',
 '18024',
 '17755',
 '8615',
 '14253',
 '17756',
 '13700',
 '17758',
 '17984',
 '16220',
 '16221',
 '10219',
 '17816',
 '16627',
 '19043',
 '15467',
 '16984',
 '16019',
 '12285',
 '14769',
 '17949',
 '15468',
 '17817',
 '15469',
 '15466',
 '15470',
 '15471',
 '15533',
 '16145',
 '17818',
 '14139',
 '17819',
 '17820',
 '17878',
 '15369',
 '15370',
 '15371',
 '19044',
 '15061',
 '15063',
 '10101',
 '10100',
 '15166',
 '15164',
 '15165',
 '9540',
 '16553',
 '16554',
 '10113',
 '16126',
 '16555',
 '16556',
 '10732',
 '8326',
 '14246',
 '14247',
 '7522',
 '16928',
 '16929',
 '16628',
 '16762',
 '15445',
 '15444',
 '9832',
 '9833',
 '17070',
 '16387',
 '11779',
 '18370',
 '16557',
 '16558',
 '11428',
 '18477',
 '18478',
 '16438',
 '19045',
 '18541',
 '8332',
 '8333',
 '10741',
 '10742',
 '19046',
 '19047',
 '12512',
 '9053',
 '10889',
 '8689',
 '8690',
 '13391',
 '10229',
 '17723',
 '14659',
 '15244',
 '8342',
 '10232',
 '16769',
 '17821',
 '19048',
 '7510',
 '16559',
 '18347',
 '16560',
 '16561',
 '16629',
 '16630',
 '16562',
 '16631',
 '18084',
 '18085',
 '18086',
 '18087',
 '13080',
 '10450',
 '7534',
 '7535',
 '16020',
 '16021',
 '15246',
 '16563',
 '18389',
 '13845',
 '13844',
 '16564',
 '15170',
 '10235',
 '14603',
 '6995',
 '17822',
 '13819',
 '14784',
 '16565',
 '17899',
 '12682',
 '10754',
 '6795',
 '16651',
 '8360',
 '13988',
 '13811',
 '8691',
 '10241',
 '14472',
 '8492',
 '11274',
 '8361',
 '8693',
 '10242',
 '16447',
 '13701',
 '13702',
 '13703',
 '13704',
 '13705',
 '13706',
 '13707',
 '14651',
 '13096',
 '17789',
 '16566',
 '12497',
 '6724',
 '17823',
 '16146',
 '12503',
 '12498',
 '12499',
 '14248',
 '14249',
 '10922',
 '10920',
 '16567',
 '16127',
 '17824',
 '18392',
 '18534',
 '10755',
 '7539',
 '18280',
 '13846',
 '13847',
 '11433',
 '16789',
 '18390',
 '13735',
 '13736',
 '16321',
 '10253',
 '11674',
 '15472',
 '8581',
 '12500',
 '12501',
 '12502',
 '12504',
 '11027',
 '12505',
 '10257',
 '7549',
 '13848',
 '15892',
 '10923',
 '10924',
 '10524',
 '16568',
 '16569',
 '11431',
 '11430',
 '11432',
 '11429',
 '15224',
 '12506',
 '12507',
 '17088',
 '17825',
 '12508',
 '15226',
 '15227',
 '9776',
 '17018',
 '10525',
 '10526',
 '11440',
 '12509',
 '12690',
 '17096',
 '10011',
 '15315',
 '12045',
 '18447',
 '12510',
 '13849',
 '18031',
 '18032',
 '18542',
 '17384',
 '8383',
 '16570',
 '17826',
 '15192',
 '19049',
 '17827',
 '17986',
 '17407',
 '17828',
 '17385',
 '14791',
 '8404',
 '13850',
 '9543',
 '13116',
 '13851',
 '9777',
 '16931',
 '14792',
 '7014',
 '7152',
 '7153',
 '9786',
 '10454',
 '19050',
 '18543',
 '9778',
 '9779',
 '12699',
 '7015',
 '18706',
 '17484',
 '10455',
 '10456',
 '9780',
 '14011',
 '15546',
 '16940',
 '15474',
 '17958',
 '9781',
 '17643',
 '13853',
 '9782',
 '16159',
 '18348',
 '16002',
 '14033',
 '10925',
 '17829',
 '17830',
 '12790',
 '7560',
 '7561',
 '13123',
 '13124',
 '10926',
 '14796',
 '13129',
 '7266',
 '10274',
 '10275',
 '15893',
 '16571',
 '9783',
 '11441',
 '11371',
 '9784',
 '13854',
 '16941',
 '14153',
 '16391',
 '13855',
 '14034',
 '7564',
 '18187',
 '13768',
 '14094',
 '9785',
 '17831',
 '16942',
 '16374',
 '18784',
 '13143',
 '16232',
 '6496',
 '9087',
 '6535',
 '7109',
 '13149',
 '8409',
 '12828',
 '16075',
 '14800',
 '15475',
 '15557',
 '11996',
 '10277',
 '19051',
 '13877',
 '10927',
 '10928',
 '10929',
 '10930',
 '9787',
 '9788',
 '10931',
 '10932',
 '13151',
 '18852',
 '17598',
 '18926',
 '17601',
 '17602',
 '17603',
 '17604',
 '13161',
 '13163',
 '13164',
 '16175',
 '9789',
 '18854',
 '18417',
 '9790',
 '16233',
 '17880',
 '9791',
 '9792',
 '13168',
 '15446',
 '15443',
 '10933',
 '10934',
 '10935',
 '13856',
 '16932',
 '17076',
 '10936',
 '10937',
 '11557',
 '11558',
 '14159',
 '9793',
 '16234',
 '19052',
 '10938',
 '17683',
 '17832',
 '19053',
 '10630',
 '10632',
 '16933',
 '17939',
 '14999',
 '8880',
 '17833',
 '10939',
 '10940',
 '15845',
 '11448',
 '10941',
 '7902',
 '6605',
 '6606',
 '6607',
 '6609',
 '6610',
 '6611',
 '6612',
 '6613',
 '6614',
 '6615',
 '6616',
 '6617',
 '10942',
 '8881',
 '10943',
 '7869',
 '17944',
 '12731',
 '13878',
 '7870',
 '13596',
 '13597',
 '11013',
 '9097',
 '7871',
 '13857',
 '13181',
 '7872',
 '7873',
 '15971',
 '10945',
 '15171',
 '8882',
 '10946',
 '18467',
 '10944',
 '19054',
 '12291',
 '7587',
 '7874',
 '10947',
 '16976',
 '16977',
 '15172',
 '13896',
 '10948',
 '13879',
 '16934',
 '12848',
 '19055',
 '9559',
 '10949',
 '16591',
 '9564',
 '9561',
 '9562',
 '9560',
 '12770',
 '12771',
 '14039',
 '17945',
 '9563',
 '17665',
 '19056',
 '19057',
 '17834',
 '11014',
 '15173',
 '15478',
 '18790',
 '14813',
 '14573',
 '18524',
 '17881',
 '10636',
 '7325',
 '7326',
 '9565',
 '13880',
 '11113',
 '11112',
 '15174',
 '17684',
 '13667',
 '18786',
 '19058',
 '16572',
 '12521',
 '19059',
 '9566',
 '18033',
 '16194',
 '14574',
 '14817',
 '14818',
 '9795',
 '14652',
 '14575',
 '17835',
 '6540',
 '9796',
 '10652',
 '10653',
 '10655',
 '9567',
 '14402',
 '8883',
 '9568',
 '9119',
 '10950',
 '14823',
 '19060',
 '11015',
 '11016',
 '19061',
 '9593',
 '10951',
 '10952',
 '7918',
 '17836',
 '17837',
 '18062',
 '17838',
 '17374',
 '15578',
 '12859',
 '19062',
 '18787',
 '9797',
 '8884',
 '9594',
 '7605',
 '14576',
 '9569',
 '17839',
 '18234',
 '18235',
 '17840',
 '14577',
 '11782',
 '16573',
 '6620',
 '10955',
 '17841',
 '16176',
 '17950',
 '12435',
 '8885',
 '8886',
 '8887',
 '8888',
 '9570',
 '9798',
 '17330',
 '18544',
 '19063',
 '14406',
 '8889',
 '12436',
 '14579',
 '9595',
 '8890',
 '17685',
 '7606',
 '14250',
 '9571',
 '10954',
 '17842',
 '12578',
 '12579',
 '15894',
 '18628',
 '15025',
 '17724',
 '17726',
 '17727',
 '17728',
 '19064',
 '14359',
 '8892',
 '19065',
 '8893',
 '19066',
 '14580',
 '15479',
 '19067',
 '18788',
 '15895',
 '15896',
 '15897',
 '18474',
 '14581',
 '8894',
 '13840',
 '13841',
 '9572',
 '11140',
 '9460',
 '14582',
 '18025',
 '13732',
 '18834',
 '17843',
 '8895',
 '8896',
 '8897',
 '8898',
 '14572',
 '14583',
 '14584',
 '14585',
 '9739',
 '14689',
 '8902',
 '11017',
 '11018',
 '10957',
 '12625',
 '10958',
 '12626',
 '16918',
 '8901',
 '17139',
 '15394',
 '19068',
 '13789',
 '12168',
 '11999',
 '12000',
 '9316',
 '7953',
 '13212',
 '9317',
 '8903',
 '16574',
 '16936',
 '13708',
 '8904',
 '12627',
 '17946',
 '14586',
 '17844',
 '8906',
 '13881',
 '8907',
 '8908',
 '10959',
 '17882',
 '13820',
 '13821',
 '13908',
 '7046',
 '9799',
 '16733',
 '8909',
 '8910',
 '13822',
 '8911',
 '11552',
 '6543',
 '18545',
 '14066',
 '14849',
 '9800',
 '15769',
 '8912',
 '8913',
 '18515',
 '18546',
 '13221',
 '13222',
 '13223',
 '10961',
 '10962',
 '9039',
 '14587',
 '14588',
 '9801',
 '16688',
 '9573',
 '15400',
 '9802',
 '15401',
 '19069',
 '12262',
 '14589',
 '11075',
 '15404',
 '15405',
 '15950',
 '10963',
 '10964',
 '14590',
 '14591',
 '9803',
 '18349',
 '13709',
 '7994',
 '13232',
 '13233',
 ...]

In [53]:
len(data)

6486

In [60]:
len(books)

12942

In [70]:
e = pd.read_csv('data/edges.csv') # Edges
h = pd.read_csv('data/hero-network.csv') # Hero
n = pd.read_csv('data/nodes.csv') # Nodes

In [71]:
h

                       hero1                 hero2
0              LITTLE, ABNER        PRINCESS ZANDA
1              LITTLE, ABNER  BLACK PANTHER/T'CHAL
2       BLACK PANTHER/T'CHAL        PRINCESS ZANDA
3              LITTLE, ABNER        PRINCESS ZANDA
4              LITTLE, ABNER  BLACK PANTHER/T'CHAL
...                      ...                   ...
574462  COLOSSUS II/PETER RA              CALLISTO
574463              CALLISTO               ROGUE /
574464              CALLISTO              CALIBAN/
574465              CALIBAN/               ROGUE /
574466  HULK/DR. ROBERT BRUC     MARKS, DR. SHIELA

[574467 rows x 2 columns]

In [35]:
e

                       hero     comic
0      24-HOUR MAN/EMMANUEL    AA2 35
1      3-D MAN/CHARLES CHAN     AVF 4
2      3-D MAN/CHARLES CHAN     AVF 5
3      3-D MAN/CHARLES CHAN     COC 1
4      3-D MAN/CHARLES CHAN    H2 251
...                     ...       ...
96099                 ZZZAX    H2 326
96100                 ZZZAX    H2 327
96101                 ZZZAX  M/CP 8/4
96102                 ZZZAX     PM 47
96103                 ZZZAX   WCA2 12

[96104 rows x 2 columns]

In [ ]:
SPIDER-MAN/PETER PAR = 5306

In [115]:
h[h.hero1.str.contains('SPIDER')&h.hero2.str.contains('CAPTAIN AMERICA')]

                       hero1            hero2
9244    SPIDER-MAN/PETER PAR  CAPTAIN AMERICA
18867   SPIDER-WOMAN II/JULI  CAPTAIN AMERICA
21028   SPIDER-MAN/PETER PAR  CAPTAIN AMERICA
21160   SPIDER-MAN/PETER PAR  CAPTAIN AMERICA
21201   SPIDER-MAN/PETER PAR  CAPTAIN AMERICA
...                      ...              ...
558679  SPIDER-WOMAN II/JULI  CAPTAIN AMERICA
567823  SPIDER-MAN/PETER PAR  CAPTAIN AMERICA
569918  SPIDER-MAN/PETER PAR  CAPTAIN AMERICA
571002  SPIDER-MAN/PETER PAR  CAPTAIN AMERICA
574359  SPIDER-MAN/PETER PAR  CAPTAIN AMERICA

[95 rows x 2 columns]

In [72]:
h.query("hero1 == 'SPIDER-MAN'")

Empty DataFrame
Columns: [hero1, hero2]
Index: []

In [ ]:
TTA

In [70]:
n.query('node == "TTA 90/2"')

           node   type
16779  TTA 90/2  comic

In [56]:
n.query('type == "comic"').sample(15)

           node   type
1097      ASM 1  comic
15657     T 197  comic
15066     ST2 7  comic
17255    UX 361  comic
1626       AT 9  comic
415        A 42  comic
15736     T 241  comic
13078    PWJ 16  comic
639       AF 33  comic
9670   M/CP 115  comic
16750    TTA 75  comic
5467     FALC 1  comic
1264     ASM2 9  comic
2        2001 9  comic
18416      X 99  comic

* dataset 1

In [38]:
e.hero.nunique()

6439

In [23]:
len(e)

96104

In [30]:
len(n)

19090

In [32]:
len(h)

574467

In [29]:
e.groupby('hero').count().reset_index().sort_values('comic', ascending=False).head()

                         hero  comic
5299  SPIDER-MAN/PETER PARKER   1577
857           CAPTAIN AMERICA   1334
2654      IRON MAN/TONY STARK   1150
5708     THING/BENJAMIN J. GR    963
5730     THOR/DR. DONALD BLAK    956

In [20]:
e.query("hero == 'CAPTAIN AMERICA'")

                  hero           comic
11116  CAPTAIN AMERICA           A '00
11117  CAPTAIN AMERICA             A 1
11118  CAPTAIN AMERICA            A 10
11119  CAPTAIN AMERICA           A 100
11120  CAPTAIN AMERICA           A 101
...                ...             ...
12485  CAPTAIN AMERICA          XF 139
12486  CAPTAIN AMERICA            XF 6
12487  CAPTAIN AMERICA           XF 66
12488  CAPTAIN AMERICA           XM 46
12489  CAPTAIN AMERICA  YOUNG ALLIES 1

[1334 rows x 2 columns]

In [18]:
1334/6439

0.20717502717813324

In [17]:
len(e.hero.unique().tolist())

6439

In [13]:
e.hero.unique().tolist()

['24-HOUR MAN/EMMANUEL',
 '3-D MAN/CHARLES CHAN',
 '4-D MAN/MERCURIO',
 '8-BALL/',
 'ABBOTT, JACK',
 'ABCISSA',
 'ABEL',
 'ABOMINATION/EMIL BLO',
 'ABOMINATION | MUTANT',
 'ABOMINATRIX',
 'ABRAXAS',
 'ABSALOM',
 'ABSORBING MAN/CARL C',
 'ABSORBING MAN | MUTA',
 'ACBA',
 'ACHEBE, REVEREND DOC',
 'ACHILLES II/HELMUT',
 'ACHILLES',
 'ACROBAT/CARL ZANTE',
 'ADAM 3,031',
 'ADAMS, CINDY',
 'ADAMS, CONGRESSMAN H',
 'ADAMS, GEORGE',
 'ADAMS, MARTHA',
 'ADAMS, NICOLE NIKKI',
 'ADAMSON, JASON',
 'ADAMSON, REBECCA',
 'ADAM X',
 'ADMIRAL PROTOCOL/',
 'ADORA',
 'ADORA CLONE',
 'ADRIA',
 'ADVA',
 'ADVENT/KYLE GROBE',
 'ADVERSARY',
 'AEGIS/TREY ROLLINS',
 'AENTAROS',
 'AFTERLIFE',
 'AGAMEMNON II/ANDREI',
 'AGAMEMNON III/',
 'AGAMEMNON',
 'AGAMOTTO',
 'AGARN, CAPT.',
 'AGED GENGHIS',
 'AGEE, DR. AUBREY',
 'AGEE, REBECCA',
 'AGENT 18/JACK TRUMAN',
 'AGENT AXIS/',
 'AGENT-X/',
 'AGGAMON',
 'AGINAR',
 'AGON',
 'AGONY/',
 'AGUIRRE, ISOBEL',
 'AHAB/RORY CAMPBELL',
 'AHQLAU',
 'AHURA',
 'AI-CHIA',
 'AINET',
 'AIRBORNE/',
 'AIREO/AEOLUS [INHUMA',
 'AIR WALKER/ARLO SAMU',
 'AIR-WALKER/GABRIEL L',
 'AJAK/TECUMOTZIN [ETE',
 'AJAX',
 'AJAX II',
 "AJES'HA",
 'AKAFE',
 'AKULIA',
 'AKUTAGAWA, OSAMU',
 'ALANYA',
 'ALBERIK',
 'ALBERT',
 'ALBINO/DR. AUGUSTA S',
 'ALBUQUERQUE, JEREMIA',
 'ALCHEMY/THOMAS JONES',
 'ALDEN, PROF. MEREDIT',
 'ALEGRIA, RICHIE',
 'ALEXANDER, CALEB',
 'ALEXANDER, CARRIE',
 'ALFY',
 'ALIOTH',
 'ALISTRO',
 'ALIST',
 'AL-KHALAD',
 'ALLEN, TERRY',
 'ALOUETTE, GENARD',
 'ALPHA',
 'ALRAUNE, MARLENE',
 'ALVAREZ, CARLY',
 'ALVAREZ, FELIX',
 'ALVAREZ, PAUL',
 'AMAZO-MAXI-WOMAN/',
 'AMAZON',
 'AMENHOTEP',
 'AMERICAN EAGLE III/J',
 'AMERICAN EAGLE II/JA',
 'AMERICAN SAMURAI/',
 'AMERICOP/',
 'AMIKO',
 'AMINEDI',
 'AMPERE/',
 'AMPHARON',
 'AMPHIBIAN/KINGLEY RI',
 'AMPHIBIUS',
 'ANACONDA/BLANCHE SIT',
 'ANAIS',
 'ANAK',
 'ANALYZER',
 'ANAMI, HIROSHI',
 'ANANASTASIA/ANNA',
 'ANARCHIST/TIKE ALICA',
 'ANCESTOR/',
 'ANCIENT ONE',
 'ANCIENT ONE/BARON MO',
 'ANDERS, JOSHUA RICHI',
 'ANDERSON, BAXTER',
 'ANDERSON, CHARLES',
 'ANDERSON, CHET',
 'ANDERSON, CHIEF MAGI',
 'ANDERSON, GINA',
 'ANDERSON, MARJORIE',
 'ANDERSON, NICKY',
 'ANDERSSEN, TANYA',
 'ANDREWS, DARYL TROOP',
 'ANDROMEDA/ANDROMEDA',
 'ANDROS',
 'ANDWELLA',
 'ANELLE',
 'ANGAR THE SCREAMER/D',
 'ANGEL 2013',
 'ANGEL DOPPELGANGER',
 'ANGEL III/HALLOWAY',
 'ANGEL II/THOMAS HALL',
 'ANGEL IV',
 'ANGELOPOULOS, ANGEL',
 'ANGEL/WARREN KENNETH',
 'ANGKOR',
 'ANGLER',
 'ANGSTROM, EARL',
 'ANIELLE',
 'ANIMATOR/DR. FREDRIC',
 'ANIMATOR II/',
 'ANIMUS',
 'ANNALEE',
 'ANNIHILUS',
 'ANOMALY III',
 'ANOMALY',
 'ANON, LORD',
 'ANSWER II/DAVID FERR',
 'ANSWER',
 'ANTEUS',
 'ANTHROMORPHO',
 'ANTIBODY',
 'ANTI-PHOENIX',
 'ANTIQUARY/',
 'ANTI-VISION',
 'ANT-MAN/DR. HENRY J.',
 'ANT-MAN II/SCOTT HAR',
 'ANTOINETTE, MARIE',
 'ANTORO',
 'ANTRO',
 'ANUBAR, ANWAR',
 'ANUBIA',
 'ANVIL/JOHNNY ANVIL',
 'APE MAN/GORDON MONK',
 'APE MAN II/ROY MCVEY',
 'APE/',
 'APE-X/XINA',
 'APOCALYPSE/EN SABAH',
 'APOCALYPSE | MUTANT',
 'APOCRYPHUS',
 'APOLLO [GREEK GOD]',
 'APOSTATE',
 'APPALLA',
 'APPLEBAUM, PHANTASY',
 'AQUARIAN/WUNDARR',
 'AQUARIUS/DARREN BENT',
 'AQUARIUS III/',
 'AQUARIUS II/',
 'ARABIAN KNIGHT/ABDUL',
 'ARACHNE',
 'ARAGORN',
 'ARAKI II',
 "ARAKI [SHI'AR]",
 'ARBOGAST, BAMBI',
 'ARCADE/',
 'ARCADIUS',
 'ARCANNA/ARCANNA JONE',
 'ARCHAEOPTERYX/TONAJA',
 'ARCHER/JUDE BLACK',
 'ARCHER, ULYSSES SAMS',
 'ARCLIGHT/PHILLIPA SO',
 'ARCTURUS',
 'ARES [GREEK GOD]',
 'AREX',
 'ARGOS',
 'ARGOSY, HERVE',
 'ARIANE',
 'ARIA',
 'ARIDES',
 'ARIEL II',
 'ARIES II/GROVER RAYM',
 'ARIES III/',
 'ARIES/MARCUS LASSITE',
 'ARISHEM [CELESTIAL]',
 'ARIZE',
 'ARKANIAN, GLIB',
 'ARKON',
 'ARKO',
 'ARLINGTON, DR. MARCU',
 'ARLISSE',
 'ARMADA II/',
 'ARMADA',
 'ARMADILLO/ANTONIO RO',
 'ARMAGEDDON',
 'ARMAGEDDON MAN',
 'ARMAND',
 'ARMAROS',
 'ARMAZIEL',
 'ARMBRUSTER, COLONEL',
 'ARMS MERCHANT/ANDREA',
 'ARMSTRONG, ?',
 'ARMSTRONG, MYRA',
 'ARNSTROM',
 'ARON [WATCHER]',
 'ARRANGER/',
 'ARROW',
 'ARSENAL',
 'ARSENAL II',
 'ARSENIC',
 'ARTEMIS',
 'ARVAK',
 'ARYAN',
 'ASANO',
 'ASBERY, SHAMARI',
 'ASBESTOS LADY',
 'ASH, BRANDY',
 'ASHEMA [CELESTIAL]',
 'ASHER, CARL',
 'ASHER, DONNA',
 'ASHER, MICHAEL',
 'ASHUR',
 'ASKANI',
 'ASMODEUS',
 'ASP II/CLEO',
 'ASSAULT/',
 'ASTARTE',
 'ASTER, LUCIAN',
 'ASTRA',
 'ASTRA II',
 'ASTROLOGER/',
 'ASTRONOMER',
 'ASTROVIK, ARNOLD',
 'ASTROVIK, NORMA',
 'ASYLUM II/HENRIQUE M',
 'ASYLUM/',
 'ATALANTA',
 'ATALON',
 'ATHENA [GREEK GOD]',
 'ATKINSON, MAJ. EDMON',
 'ATLAS',
 'ATLAS III',
 'ATOM-SMASHER/',
 'ATOM SMASHER II/',
 'ATOM SMASHER/',
 'ATOR, GENERAL',
 'ATTRACTIVE LAD/AUNDR',
 'ATTUMA',
 'AUGUST PERSONAGE IN',
 'AUNTIE FREEZE/',
 'AURA/ANN HERD',
 'AURIC/',
 'AURORA DOPPELGANGER',
 'AURORA/JEANNE-MARIE',
 'AURORA | MUTANT X-VE',
 'AUSTIN, GEN.',
 'AUSTIN, SUSAN',
 'AUSTIN, TERRY',
 'AUTHIER, POLICE CHIE',
 'AUTHIER, TRACY TRACE',
 'AUTHORITY/',
 'AUTOLYCUS',
 'AVALANCHE/DOMINIC PE',
 'AVANDALIA',
 'AVATAR II/PRINCESS A',
 'AVATAR',
 'AVIA',
 'AVIOS',
 'AVIUS',
 'AVRIL, SALLY',
 'AVRIL, YVETTE',
 'A',
 'AWESOME ANDROID',
 'AXE/',
 'AXIS/',
 'AYALA, AWILDA',
 'AYALA, FILIPPO',
 'AYALA, MRS.',
 'AYALA, NESTOR',
 'AYESHA',
 "A'YIN",
 'AZAZEL',
 'AZAZEL II',
 'AZIR',
 'AZOPARDI',
 'AZOR',
 'AZRAEL',
 'AZURE',
 'BAAL II',
 'BAAL',
 'BACILLUS',
 'BADALAMENTE, JESUS',
 'BADALINO, LT. MICHAE',
 'BAILEY, GAILYN',
 'BAILEY, JOEY',
 'BAILEY, SARA GREY',
 'BAIRD, DR.',
 'BAKER, ANNE-MARIE',
 'BAKER',
 'BALABAN/',
 'BALDER [ASGARDIAN]',
 'BALDWIN, JUSTIN',
 'BALDWIN, MADELYNE MA',
 'BALE, EMERSON',
 'BALLANTINE, DEVON',
 'BALLANTINE, KAYLA',
 'BALLANTINE, MR.',
 'BALLANTINE, MRS.',
 'BALOR',
 'BAMBI',
 'BANCROFT, MARTINE',
 'BANDIT/',
 'BANK, IRVING',
 'BANKS, SHARON',
 'BANNER, BETTY ROSS T',
 'BANNERJEE, DR.',
 'BANNON, LANCE',
 'BANSHEE 2013',
 'BANSHEE II',
 'BANSHEE/SEAN CASSIDY',
 'BANTAM/',
 'BANTOCK, LT. OLIVER',
 'BAPTISTE, TANTE MATT',
 'BARAK',
 'BARBAROSSA, MARIO',
 'BARBAROSSA, VINNIE',
 'BARBARUS',
 'BARIUM',
 'BARKER, MATTHEW T.',
 'BARKER',
 'BARNACLE/',
 'BARNETT, MIKE',
 'BARON BLOOD II/VICTO',
 'BARON BLOOD/JOHN FAL',
 'BARON BRIMSTONE/',
 'BARONESS ZEMO/HEIKE',
 'BARON MACABRE/',
 'BARON MORDO/KARL MOR',
 'BARON SAMEDI',
 'BARON STRUCKER/WOLFG',
 'BARON ZEBEK',
 'BARRACUDA/',
 'BARRAGE',
 'BARRANCO, MARIA ESME',
 'BARRENOS, OMAR',
 "B'ARR",
 'BARRIER/',
 'BARRINGTON',
 'BARRON, RICK',
 'BARROWS, WALTER',
 'BARTLETT, STU',
 'BARTON, SEN.',
 'BARTOS',
 'BASALLO/LAVA MEN KIN',
 'BASALTAR',
 'BASILISK/BASIL ELKS',
 'BASILISK III/',
 'BASILISK II',
 'BATAL/',
 'BATROC/GEORGES BATRO',
 'BATTERING RAM',
 'BATTERY/',
 'BATTLEAXE/',
 'BATTLEAXE II/JEROME',
 'BATTLE, MONTGOMERY',
 'BATTLESTAR/LEMAR HOS',
 'BATWING/',
 'BAV-TEK',
 'BAXTER, ABIGAIL',
 'BAXTER',
 'BAXTER, NOAH',
 'BAYLOR, FRANK',
 'BAYMAX',
 'BAZIN, ALLEGRA',
 'BAZIN, ANDREW',
 'BAZIN, BRODERICK RIC',
 'BAZIN, PHILLIPPE',
 'BEACH, GINGER',
 'BEACH, SPIDER',
 'BEALE, ERIC',
 'BEAR/',
 'BEAST 2013',
 'BEAST DOPPELGANGER I',
 'BEAST DOPPELGANGER',
 'BEAST/HENRY &HANK& P',
 'BEAUMONT, SPENCER',
 'BEAUTIFUL DREAMER II',
 'BEAUTIFUL DREAMER',
 'BEAUTY',
 'BECKFORD, NOEL',
 'BECKLEY, BENNY',
 'BECKMAN, CHARLES',
 'BECKMAN, JOSEPH',
 'BECKMAN, LISA',
 'BECKMAN, SARAH',
 'BEDFORD, BRAD HULK',
 'BEDLAM II/OLISA KABA',
 'BEDLAM/JESSE AARONSO',
 'BEEFER',
 'BEEF/',
 'BEERE, JASON',
 'BEETLE/ABNER RONALD',
 'BEETLE II/LEILA DAVI',
 'BEETLE ROBOT',
 'BEHEMOTH',
 'BELASCO',
 'BELDAME',
 'BEL-DANN, GEN.',
 'BELGRADE, DR. HORATI',
 'BELIAL',
 'BELLADONNA',
 'BELLAM',
 'BELLE',
 'BELL, HERBERT',
 'BENAZA',
 'BENCHLEY',
 'BENDIX, DR. ALBERT',
 'BENEDICT',
 'BENEDICT, ANDREW',
 'BENGAL/',
 'BENJAMIN, BYRON',
 'BENNETT, DANNY',
 'BENNETT, MITCH',
 'BENNING, VERONICA',
 'BENNY, JAKE',
 'BENTLEY, MILES',
 'BENTLEY, VICTORIA',
 'BENTON, TERRY',
 'BENWAY, DR.',
 'BERDITCHEV, ITZHAK',
 'BEREET',
 'BERENGHETTI, MICHAEL',
 'BERENGHETTI, SUSAN',
 'BERGER, PROF.',
 'BERGIER, REBECCA',
 'BERGLUND, GEN.',
 'BERKELEY, TRAVIS',
 'BERMAN, ADAM',
 'BERNARD THE POET',
 'BERNHARD, CLARICE',
 'BERNIE',
 'BERNSTEIN, DR. NOAH',
 'BERNSTEIN, EMMA WEBS',
 'BERSERKER',
 'BERSERKER II',
 'BERSERKER III',
 'BERTRAM',
 'BERYLLIUM',
 'BERYL',
 'BETA RAY BILL',
 'BETA RAY BILL | MUTA',
 'BETELHEIM, NORMA',
 'BETTY-6',
 'BEVATRON/',
 'BEYNON, DR. BRADLEY',
 'BEYONDER',
 'BEYONDER | MUTANT X-',
 "B'GON",
 'BIANDU',
 'BI-BEAST',
 'BI-BEAST II',
 'BIG BEN/',
 'BIG BERTHA/ASHLEY CR',
 'BIG CASINO/',
 'BIGGERS, MELVIN',
 'BIG MAN/FREDERICK FO',
 'BIG ONE/KENJIRO SASA',
 'BILE/',
 'BILLUPS, AGENT',
 'BINARY/CAROL DANVERS',
 'BINARY | MUTANT X-VE',
 'BIOHAZARD',
 'BIOHAZARD II/FLETCHE',
 'BIRDBRAIN',
 'BIRD MAN/HENRY HAWK',
 'BIRD MAN III/',
 'BIRD, TUESDAY',
 'BIRDY',
 'BISHOP /',
 'BISON/BILLY KITSON',
 'BITMAP/',
 'BIZEN',
 "B'KOSA, GEN. JONATHA",
 'BLACK AVENGER/JERRY',
 'BLACKBALL',
 'BLACKBIRD/',
 'BLACKBODY',
 'BLACK BOLT/BLACKANTO',
 'BLACK BOLT | MUTANT',
 'BLACK BRIGADE',
 'BLACK, CAL',
 'BLACK CAT/FELICIA HA',
 'BLACK CRANE/',
 'BLACK CROW/JESSE BLA',
 'BLACK, CYRUS',
 'BLACK DEATH/DR. IVAN',
 'BLACK FOX II/',
 'BLACK FOX/ROBERT W.',
 'BLACK GOLIATH/DR. WI',
 'BLACKHEART',
 'BLACK HOLE/MORTON KI',
 'BLACKJACK/',
 'BLACK KING/SEBASTIAN',
 'BLACK KNIGHT III/EOB',
 'BLACK KNIGHT II/SIR',
 'BLACK KNIGHT IV DOPP',
 'BLACK KNIGHT IV/PROF',
 'BLACK KNIGHT/SIR PER',
 'BLACK KNIGHT V/DANE',
 'BLACK KNIGHT V DOPPE',
 'BLACK KNIGHT VI/PROF',
 'BLACK KNIGHT V STATU',
 'BLACK LAMA',
 'BLACK MAMBA/TANYA SE',
 'BLACK MARIAH',
 'BLACK MARVEL/DAN LYO',
 'BLACK MORAY',
 'BLACK MOUNTAIN/KUROY',
 'BLACKOUT II/',
 'BLACKOUT/MARCUS DANI',
 'BLACK PANTHER | MUTA',
 "BLACK PANTHER/T'CHAL",
 'BLACK RAAZER/',
 'BLACK RACER/',
 'BLACK, RACHEL',
 'BLACK RAZER',
 'BLACKSHEAR, JONAS',
 'BLACK SPECTRE/CARSON',
 'BLACK TALON/DESMOND',
 'BLACK TALON III',
 'BLACK TALON II/SAMUE',
 'BLACK TARANTULA II/C',
 'BLACK TARANTULA/LAMU',
 'BLACK TOM CASSIDY',
 'BLACKWELL',
 'BLACK WIDOW DOPPELGA',
 'BLACK WIDOW II/YELEN',
 'BLACK WIDOW | MUTANT',
 'BLACK WIDOW/NATASHA',
 'BLACKWING II/',
 'BLACKWING/JOSEPH MAN',
 'BLACKWOOD, JENNY',
 'BLACKWULF',
 'BLADE/',
 'BLAIR, CALEY',
 'BLAIRE, CARTER',
 'BLAKE, BECKY',
 'BLAKE, DR. DONALD (C',
 'BLAKE, DR. DONALD',
 'BLAKE, EMILY',
 'BLAKE, KENT',
 'BLANDING, ANDREW',
 'BLANDING, HALEY',
 'BLANDING, MRS.',
 'BLAQUESMITH',
 'BLARE/',
 'BLASTAAR',
 'BLASTING CAP/',
 'BLAZE, CRAIG',
 'BLAZE, EMMA',
 'BLAZE, ROXANNE SIMPS',
 'BLAZING SKULL/MARK T',
 'BLESSING, MORGANA',
 'BLIND AL/ALTHEA',
 'BLINDSIDE II/BOBBI C',
 'BLINK/FERGUSON, CLAR',
 'BLISS, BONNIE',
 'BLISS, MISS',
 'BLISS',
 'BLITZIANA',
 'BLITZKRIEG/',
 'BLIZZARD II/DONALD G',
 'BLIZZARD/PROF. GREGO',
 'BLOB/FRED J. DUKES',
 'BLOCKADE/DEXTER PARI',
 'BLOCKBUSTER/',
 'BLOCKBUSTER II',
 'BLOCKBUSTER III/MICH',
 'BLOKE/MICKEY TORK',
 'BLOK',
 'BLOODAXE/JACKIE LUKU',
 'BLOOD BROTHERS',
 'BLOODHOUND/',
 'BLOODLUST',
 'BLOODSCREAM',
 'BLOODSHED/WYNDELL DI',
 'BLOOD SPIDER/',
 'BLOODSTONE/ULYSSES B',
 'BLOODSTORM | MUTANT',
 'BLOODSTRIKE/ERIC CON',
 'BLOOD-TIDE',
 'BLOODVESSEL, BUSTA',
 "BLOODWING [SHI'AR]",
 'BLOOD WRAITH/SEAN DO',
 'BLOODWRAITH/SEAN DOL',
 'BLOODY BESS',
 'BLOODY MARY',
 'BLOTT, BRIGADIER INK',
 'BLOWTORCH/',
 'BLUDGEON/',
 'BLUE BULLET/PROF. JO',
 'BLUE DIAMOND/PROFESS',
 'BLUE SHIELD/JOSEPH J',
 'BLUE STREAK/',
 'BLUNT',
 'BLUR',
 'BLURRY',
 'BOAK',
 'BOBCAT/',
 'BODYBAG',
 'BOERKE, MAYOR',
 'BOGATYR/MIKULA GOLUB',
 'BOGGS, MORDECAI P.',
 'BOLERO/',
 'BOLT, COUNCILMAN AND',
 'BOLT II/CHRIS BRADLE',
 'BOLT/LAWRENCE EVANS',
 'BOMBADIER/',
 'BOMBLAST/',
 'BOMBSHELL/',
 'BOND',
 'BONEBREAKER/',
 'BONES/ELIZABETH BLIS',
 'BONITA',
 'BOOBYTRAP/',
 'BOOKWORM/NELSON GRUB',
 'BOOMERANG/FRED MYERS',
 'BOOMER/TABITHA SMITH',
 'BOOMSLANG/',
 'BOONE',
 'BORAKU',
 'BORA',
 'BORROB',
 'BORROUGHS, CHARLES C',
 'BOSCO, ELAINE',
 'BOSHLOVOR',
 'BOUDREAUX, BELLA DON',
 'BOUDREAUX, MARIUS',
 'BOULDER/',
 'BOUNCER',
 'BOUNTY II',
 'BOUNTY',
 'BOVA',
 'BOWDEN, DENNIS',
 'BOWEN, FATHER MICHAE',
 'BOWMAN, MAJ.',
 'BOX II/JERRY JAXXON',
 'BOX IV/MADISON JEFFR',
 'BOX/ROGER BOCHS',
 'BOYD, TWO-FISTED TOM',
 'BRADDOCK, ELIZABETH',
 'BRADDOCK, JAMES',
 'BRADDOCK, JAMES JR.',
 'BRADDOCK, JOHN',
 'BRADLEY, CARRIE',
 'BRADLEY, HANK',
 'BRADLEY, JESSICA',
 'BRAHAMS',
 'BRAHMANES',
 'BRAIN CELL/',
 'BRAINCHILD',
 'BRAIN DRAIN/WERNER S',
 'BRAINSTORM/',
 'BRAINY',
 'BRAITHWAITE, JUDGE R',
 'BRAMER',
 'BRANDEIS, CAMMY',
 'BRANDEIS, LIZ PARRIS',
 'BRANDEIS, PROF. HENR',
 'BRANDT, ELLEN',
 'BRANNEX, ALLESSANDRO',
 'BRANNEX',
 'BRANSON',
 'BRASS BISHOP/',
 'BRASS/SEAN WATANABE',
 'BRAWLER',
 'BRAWN, HUNTER',
 'BRAWN, TRISTAN',
 'BREAKER/RAAK',
 'BREEGAN',
 'BRES',
 'BREWER, AMY',
 'BREWER, DR. MELINDA',
 'BRICKFORD, CLAY',
 'BRICKMAN, GLORIA',
 'BRICKMAN, SEN. MILES',
 'BRIDGE, GEORGE WASHI',
 'BRIGGS, AGENT STEPHA',
 'BRIGGS, AGENT',
 'BRIGHTSWORD/CARTER D',
 'BRIGHTWIND',
 'BRINKE, NIOMI',
 'BRIQUETTE/',
 'BROADSIDE',
 'BROGIN, BULL',
 'BROKEN MAN',
 'BROKER',
 'BROMINE',
 'BROMWELL, DR.',
 'BRONA',
 'BROOKS, ANNA',
 'BROOP',
 'BROTHER AXE',
 'BROTHER CAESAR',
 'BROTHER ROYAL',
 'BROTHERS GRIMM II/BA',
 'BROTHERS GRIMM',
 'BROTHER STEPHEN',
 'BROTHER TODE',
 'BROTHER VIRGIL',
 'BROTHER VOODOO/DANIE',
 'BROTHER VOODOO | MUT',
 'BROTHER WONDERFUL/DR',
 'BROWN, ABE',
 'BROWN, FRANK',
 'BROWN, LAURA',
 'BROWN, MINDY MCPHERS',
 'BROWSER',
 'BRUKNER, DR. FRANK',
 'BRUKNER, ILANEY',
 'BRUNNHILDE/MCM-XLI (',
 'BRUNO',
 'BRUTACUS',
 'BRUTE II/',
 'BRUTE | MUTANT X-VER',
 'BRUTE/REED RICHARDS',
 'BRUTO THE STRONGMAN/',
 'BRUTUS',
 'BRUTUS II',
 'BRUTUS KLOR',
 'BRYCE, ARCHER',
 'BUCHANAN, SAM',
 'BUCHETTO, SALVATORE',
 'BUCHOVITZ, STANLEY &',
 'BUCKMAN, EDWARD',
 'BUCKNER, GRANT',
 'BUCKY/BUCKY BARNES',
 'BUCKY II/FRED DAVIS',
 'BUCKY VI/',
 'BUCKY VII/RIKKI BARN',
 'BUEL',
 'BUG',
 'BUKOWSKI, BUCK',
 'BULLDOZER/HENRY CAMP',
 'BULLET BIKER',
 'BULLET',
 'BULL',
 'BULLSEYE II/BENJAMIN',
 'BULLSEYE | MUTANT X-',
 'BULLSEYE',
 'BULWARK/',
 'BUMPKIN',
 'BUMPO, MR.',
 'BUNYAN, PAUL',
 'BURGOS, CARL',
 'BURKE',
 'BURKE, GWYNETH',
 'BURKE, JACK',
 'BURKE, JOB',
 'BURKE, RICKY',
 'BURKE, THERESA TRACY',
 'BURLEY, MIKE',
 'BURLINGAME, CALVIN',
 'BURNING PUDDLE',
 'BURR, CLAYTON',
 'BURRTHROP, T. BARTON',
 'BURST/',
 'BUSH, GEORGE',
 'BUSHKIN, BARNEY',
 'BUSHMAN, RAOUL',
 'BUSHMASTER II/QUINCY',
 'BUSHMASTER/JOHN MCIV',
 'BUSHWACKER/CARL',
 'BUSIEK, KURT',
 'BUTCH',
 'BUTTERFLY',
 'BUTTONS',
 'BUX',
 'BUZZARD',
 'BUZZ',
 'BYRD, NATHANIEL ALEX',
 'BYRD, SEN. HARRINGTO',
 'BYREL',
 'BYRNE, JOHN',
 'BYRNES, GAYLE WATSON',
 'BYRNES, TIM',
 'BYRRAH [ATLANTEAN]',
 'BYRRAH | HEROES REBO',
 'CABE, BETHANY',
 'CABER',
 'CACHE',
 'CACHES, FABIAN',
 'CACHES, PROF. MARINA',
 'CACTUS',
 'CADAVER',
 'CADMIUM',
 'CADUCEUS',
 'CAESAR',
 'CAESAR, JONATHAN',
 'CAESAR, JULIUS',
 'CAGE, LUKE/CARL LUCA',
 'CAGLIOSTRO, ALESSAND',
 'CAIRN, DET.',
 'CALCULUS/JAHAHAREL P',
 'CALDERONE, HANNAH',
 'CALDRONE, JAVIER',
 'CALEDONIA/ALISANDE S',
 'CALIBAN/',
 'CALIFORNIUM',
 'CALKIN, SUSAN',
 'CALLAGHAN, JAMES',
 'CALLAHAN, DANNY',
 'CALLAHAN, MIKE',
 'CALLISTO',
 'CALLISTO | MUTANT X-',
 'CALUMET',
 'CALYPSO',
 'CAMBRIDGE, MOXIE',
 'CAMPBELL, DR. RORY',
 'CAMPBELL, MEREDITH',
 'CAMPBELL, VALERIE',
 'CANCELLATOR',
 'CANCER II/',
 'CANCER/JACK KLEVENO',
 'CANDLEMAS/',
 'CANDLER, OWEN',
 'CANDRA',
 'CANDY',
 'CANE/',
 'CANNONBALL II/SAM GU',
 'CANNONBALL/JACK PULV',
 'CANNONBALL/SAM GUTHR',
 'CANTOR, VERA',
 'CAPRICORN II/',
 'CAPRICORN/WILLARD WE',
 'CAPTAIN AMERICA',
 'CAPTAIN AMERICA DOPP',
 'CAPTAIN AMERICA IV/S',
 'CAPTAIN AMERICA | MU',
 'CAPTAIN AMERICA V/RO',
 'CAPTAIN BARRACUDA',
 'CAPTAIN BRITAIN 2013',
 'CAPTAIN BRITAIN/BRIA',
 'CAPTAIN FATE',
 'CAPTAIN GLORY',
 'CAPTAIN HAWK',
 'CAPTAIN HIP/FRED MAC',
 'CAPTAIN MANHATTAN',
 'CAPTAIN MARVEL/CAPTA',
 'CAPTAIN MARVEL III/G',
 'CAPTAIN MARVEL II/MO',
 'CAPTAIN POWER/DR. CH',
 'CAPTAIN RECTITUDE',
 'CAPTAIN TERROR/DAN K',
 'CAPTAIN U.K./LINDA M',
 'CAPTAIN ULTRA/GRIFFI',
 'CAPTAIN UNIVERSE/STE',
 'CAPTAIN WINGS/',
 'CAPUTO, DR. JULIA',
 'CARBON',
 'CARBONE, JULIUS',
 'CARBONE, ROSALIE',
 'CARBONE, SALVATORE',
 'CARDENAS, PACO',
 'CARDIAC/DR. ELI WIRT',
 'CARDINAL/CLEMDENON',
 'CARDINALE, CARLOS',
 'CAREGIVER/RUBANNA LA',
 'CARETAKER',
 'CARGIL/JOANNA CARGIL',
 'CARGO',
 'CARINA/CARINA WALTER',
 'CARLISLE, JENNA',
 'CARLISLE, MELISSA BO',
 'CARLISLE, PHILLIP',
 'CARLTON, JAKE',
 'CARLTON, LUCY',
 'CARLY',
 'CARMODY, MARY',
 'CARMODY, MRS.',
 'CARNAGE/CLETUS KASAD',
 'CARNIVORE/COUNT ANDR',
 'CARPATHIAN, ANDREW',
 'CARPENTER, LARRY',
 'CARPENTER, RACHEL',
 'CARRADINE, JESSICA J',
 'CARR, DAN',
 'CARRERA, MIA',
 'CARRION',
 'CARRION III/DR. WILL',
 'CARRION II/MALCOLM M',
 'CARSON, LT. PAUL',
 'CARTER, BRAD',
 'CARTER, JIMMY',
 'CARTER, PEGGY',
 'CARTER, SHARON',
 'CARTER, SHARON II',
 'CARTER, TAD',
 'CARTHUS',
 'CARVER',
 'CASE, COL. PRESTON',
 'CASEY',
 'CASIOLENA, QUEEN',
 'CASPER',
 'CASSADA, CARLOS',
 'CASSADA, MICHAEL',
 'CASSADA, ROBERTO',
 'CASSADA, ROSA',
 'CASSANDRA',
 'CASSIOPEIA',
 'CASS, LARRY MAD DOG',
 'CATAPHRAX',
 'CAT BURGLAR',
 'CATHERWOOD',
 'CATHODE/',
 'CAT III/SHEN KUEI',
 'CAT II',
 'CAT IV',
 'CAT KING',
 'CAT MAN/HORGAN',
 'CAT MAN III/',
 'CATSEYE/SHARON SMITH',
 'CATWALK/KIMBERLY DEE',
 'CAULDER, SAFRON',
 'CEAUSECU, IONEL',
 'CELESTE',
 'CELLANOS, MARCELLA',
 'CENTARIUS',
 'CENTURIUS',
 'CENTURY',
 'CENTURY, TURNER D.',
 'CERA, KAY',
 'CERANDA',
 'CERBERUS',
 'CERBERUS II',
 'CEREBRITE ALPHA',
 'CEREBRITE BETA',
 'CEREBRO MARK XIII |',
 'CEREBRO | MUTANT-X V',
 'CEREBRO',
 "CERISE II [SHI'AR]",
 'CERISE',
 'CESIUM',
 'CETHLANN',
 'C.F.',
 'CHADWICK, CHEER',
 'CHADWICK, DR. HESPER',
 'CHAIN',
 'CHAINSAW/',
 'CHAKA KHAN',
 'CHAKA KHAN II',
 'CHAKARA, KANU',
 'CHAKARA, MADAN',
 'CHAKRA',
 'CHAKRA II',
 'CHALIZ, HAZRAM',
 'CHALIZ, SHANAZ RAYNA',
 'CHALIZ, TABRIAZ',
 'CHALKER, PROF. VIC',
 'CHALMER, JUDGE',
 'CHALMERS, CYNTHIA',
 'CHALMERS, JUDGE ROBE',
 'CHALMERS, MR.',
 'CHAMBER/JONOTHON STA',
 'CHAMBERS, MR.',
 'CHAMBLISS',
 'CHAMELEON/DMITRI SME',
 'CHAMPION, IMUS',
 'CHAMPION/TRYCO SLATT',
 'CHANCE',
 'CHANCE II/NICHOLAS P',
 'CHANDLER, PEGGY',
 'CHANDRA, DR.',
 'CHANEY, AMANDA',
 'CHANG, DR. PHILLIP',
 'CHANGELING',
 'CHANG, IMEI',
 'CHAN, SARAH',
 'CHAOS/DANIEL DASH',
 ...]

In [5]:
import networkx as nx
import matplotlib.pyplot as plt

# Replace 'yourfile.net' with the path to your actual .net file
net_file = 'marvel.net'

# Reading the .net file
G = nx.read_gexf('hero.gephi')

ParseError: not well-formed (invalid token): line 1, column 2 (<string>)